# Lab Practice - Sequences with Python

## General Instructions

### Objective:
In this lab, you'll practice concepts like: sequences, summation notation, factorials, binomial coefficients, combinations, closed form formulas, and geometric sequences using python.

### Attendance:
Submit a file with your progress to Canvas to obtain attendance.

### Use Lab Time Effectively:
Utilize the time to focus on the tasks and seek clarification on any concepts you're unfamiliar with.

### Consistent Practice:
The key to mastering Python (or any programming language) is consistent practice and real-world application.

# 1. Sequences

## 1.1. Even Numbers Sequence
**Objective:** Create a sequence of even numbers from 2 to 20 using a for loop and print each number as you go.

In [8]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## 1.2. Odd Numbers Sequence
**Objective:** Create a sequence of odd numbers from 1 to 19 using a for loop and print each number as you go.

In [11]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## 1.3. Multiples of 5
**Objective:** Create a sequence of multiples of 5 from 5 to 50 using a for loop and print each number as you go.

In [14]:
for i in range(5, 51, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

## 1.4. Numbers Squared
**Objective:** Create a sequence of the squares of numbers from 1 to 10 using a for loop and print each squared number as you go.

In [17]:
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

## 1.5. Additional Sequence
**Objective:** Create and print the sequence 
$\displaystyle a_k = \frac{k}{10 + k} $, for all integers $ k \geq 1 $ up to $ k = 10 $.

In [21]:
for k in range(1, 11):
    a_k = k / (10 + k)
    print(f"a_{k} = {a_k}")

a_1 = 0.09090909090909091
a_2 = 0.16666666666666666
a_3 = 0.23076923076923078
a_4 = 0.2857142857142857
a_5 = 0.3333333333333333
a_6 = 0.375
a_7 = 0.4117647058823529
a_8 = 0.4444444444444444
a_9 = 0.47368421052631576
a_10 = 0.5

## 1.6. Additional Sequence
**Objective:** Create and print the sequence $\displaystyle b_j = \frac{5 - j}{5 + j} $, for all integers $ j \geq 1 $ up to $ j = 10 $.

In [25]:
for j in range(1, 11):
    b_j = (5 - j) / (5 + j)
    print(f"b_{j} = {b_j}")

b_1 = 0.6666666666666666
b_2 = 0.42857142857142855
b_3 = 0.25
b_4 = 0.1111111111111111
b_5 = 0.0
b_6 = -0.09090909090909091
b_7 = -0.16666666666666666
b_8 = -0.23076923076923078
b_9 = -0.2857142857142857
b_10 = -0.3333333333333333

## 1.7. Additional Sequence
**Objective:** Create and print the sequence $\displaystyle c_i = \frac{(-1)^i}{3^i} $, for all integers $ i \geq 0 $ up to $ i = 10 $.

In [34]:
for i in range(0, 11):
    c_i = ((-1)**i) / (3**i)
    print(f"c_{i} = {c_i}")

c_0 = 1.0
c_1 = -0.3333333333333333
c_2 = 0.1111111111111111
c_3 = -0.037037037037037035
c_4 = 0.012345679012345678
c_5 = -0.00411522633744856
c_6 = 0.0013717421124828531
c_7 = -0.0004572473708276177
c_8 = 0.00015241579027587258
c_9 = -5.080526342529086e-05
c_10 = 1.6935087808430286e-05

# 2. Sumation

### 2.1 Sum of Odd Numbers
**Objective:** Calculate the sum of odd numbers from 1 to 19 using summation notation and a for loop.

In [1]:
sum_odd = 0
for i in range(1, 20, 2):
    sum_odd += i
    print(f"Sum after adding {i}: {sum_odd}")

Sum after adding 1: 1
Sum after adding 3: 4
Sum after adding 5: 9
Sum after adding 7: 16
Sum after adding 9: 25
Sum after adding 11: 36
Sum after adding 13: 49
Sum after adding 15: 64
Sum after adding 17: 81
Sum after adding 19: 100

### 2.2 Sum of Even Numbers
**Objective:** Calculate the sum of even numbers from 2 to 20 using summation notation and a for loop.

In [4]:
sum_even = 0
for i in range(2, 21, 2):
    sum_even += i
    print(f"Sum after adding {i}: {sum_even}")

Sum after adding 2: 2
Sum after adding 4: 6
Sum after adding 6: 12
Sum after adding 8: 20
Sum after adding 10: 30
Sum after adding 12: 42
Sum after adding 14: 56
Sum after adding 16: 72
Sum after adding 18: 90
Sum after adding 20: 110

### 2.3 Sum of Squares
**Objective:** Calculate the sum of squares of numbers from 1 to 10 using summation notation and a for loop.

In [7]:
sum_squares = 0
for i in range(1, 11):
    sum_squares += i**2
    print(f"Sum after adding square of {i}: {sum_squares}")

Sum after adding square of 1: 1
Sum after adding square of 2: 5
Sum after adding square of 3: 14
Sum after adding square of 4: 30
Sum after adding square of 5: 55
Sum after adding square of 6: 91
Sum after adding square of 7: 140
Sum after adding square of 8: 204
Sum after adding square of 9: 285
Sum after adding square of 10: 385

### 2.4 Sum of Inverse Squares
**Objective:** Calculate the sum of inverse squares of numbers from 1 to 10 using summation notation and a for loop.

In [10]:
sum_inv_squares = 0
for i in range(1, 11):
    sum_inv_squares += 1 / (i**2)
    print(f"Sum after adding inverse square of {i}: {sum_inv_squares}")

Sum after adding inverse square of 1: 1.0
Sum after adding inverse square of 2: 1.25
Sum after adding inverse square of 3: 1.3611111111111112
Sum after adding inverse square of 4: 1.4236111111111112
Sum after adding inverse square of 5: 1.4636111111111112
Sum after adding inverse square of 6: 1.4913888888888889
Sum after adding inverse square of 7: 1.511797052154195
Sum after adding inverse square of 8: 1.527422052154195
Sum after adding inverse square of 9: 1.5397677311665408
Sum after adding inverse square of 10: 1.5497677311665408

### 2.5 Sum of Reciprocals
**Objective:** Calculate the sum of reciprocals of numbers from 1 to 10 using summation notation and a for loop.

In [13]:
sum_reciprocals = 0
for i in range(1, 11):
    sum_reciprocals += 1 / i
    print(f"Sum after adding reciprocal of {i}: {sum_reciprocals}")

Sum after adding reciprocal of 1: 1.0
Sum after adding reciprocal of 2: 1.5
Sum after adding reciprocal of 3: 1.8333333333333333
Sum after adding reciprocal of 4: 2.083333333333333
Sum after adding reciprocal of 5: 2.283333333333333
Sum after adding reciprocal of 6: 2.4499999999999997
Sum after adding reciprocal of 7: 2.5928571428571425
Sum after adding reciprocal of 8: 2.7178571428571425
Sum after adding reciprocal of 9: 2.8289682539682537
Sum after adding reciprocal of 10: 2.9289682539682538

# 3. Product

### 3.1 Product of Odd Numbers
**Objective:** Calculate the product of odd numbers from 1 to 9 using multiplication notation and a for loop.

In [20]:
product_odd = 1
for i in range(1, 10, 2):
    product_odd *= i
    print(f"Product after multiplying by {i}: {product_odd}")

Product after multiplying by 1: 1
Product after multiplying by 3: 3
Product after multiplying by 5: 15
Product after multiplying by 7: 105
Product after multiplying by 9: 945

### 3.2 Product of Even Numbers
**Objective:** Calculate the product of even numbers from 2 to 10 using multiplication notation and a for loop.

In [23]:
product_even = 1
for i in range(2, 11, 2):
    product_even *= i
    print(f"Product after multiplying by {i}: {product_even}")

Product after multiplying by 2: 2
Product after multiplying by 4: 8
Product after multiplying by 6: 48
Product after multiplying by 8: 384
Product after multiplying by 10: 3840

### 3.3 Product of Reciprocals
**Objective:** Calculate the product of reciprocals of numbers from 1 to 5 using multiplication notation and a for loop.

In [26]:
product_reciprocals = 1
for i in range(1, 6):
    product_reciprocals *= 1 / i
    print(f"Product after multiplying by reciprocal of {i}: {product_reciprocals}")

Product after multiplying by reciprocal of 1: 1.0
Product after multiplying by reciprocal of 2: 0.5
Product after multiplying by reciprocal of 3: 0.16666666666666666
Product after multiplying by reciprocal of 4: 0.041666666666666664
Product after multiplying by reciprocal of 5: 0.008333333333333333

### 3.4 Product of Squares
**Objective:** Calculate the product of squares of numbers from 1 to 4 using multiplication notation and a for loop.

In [29]:
product_squares = 1
for i in range(1, 5):
    product_squares *= i**2
    print(f"Product after multiplying by square of {i}: {product_squares}")

Product after multiplying by square of 1: 1
Product after multiplying by square of 2: 4
Product after multiplying by square of 3: 36
Product after multiplying by square of 4: 576

### 3.5 Product of First N Natural Numbers
**Objective:** Calculate the product of the first 5 natural numbers using multiplication notation and a for loop.

In [32]:
product_natural = 1
for i in range(1, 6):
    product_natural *= i
    print(f"Product after multiplying by {i}: {product_natural}")

Product after multiplying by 1: 1
Product after multiplying by 2: 2
Product after multiplying by 3: 6
Product after multiplying by 4: 24
Product after multiplying by 5: 120

# 4. Factorials

### 4.1 Factorial of 5
**Objective:** Write a function to calculate the factorial of 5.

In [37]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(f"Factorial of 5: {factorial(5)}")

Factorial of 5: 120

### 4.2 Factorial of 7
**Objective:** Write a function to calculate the factorial of 7.

In [40]:
print(f"Factorial of 7: {factorial(7)}")

Factorial of 7: 5040

### 4.3 Factorial of 0
**Objective:** Write a function to calculate the factorial of 0.

In [45]:
print(f"Factorial of 0: {factorial(0)}")

Factorial of 0: 1

### 4.4 Factorial of 10
**Objective:** Write a function to calculate the factorial of 10.

In [48]:
print(f"Factorial of 10: {factorial(10)}")

Factorial of 10: 3628800

### 4.5 Factorial Sequence
**Objective:** Write a function to print the factorials of numbers from 1 to 5.

In [51]:
for i in range(1, 6):
    print(f"Factorial of {i}: {factorial(i)}")

Factorial of 1: 1
Factorial of 2: 2
Factorial of 3: 6
Factorial of 4: 24
Factorial of 5: 120

### 4.6 Sum of Special Series
**Objective:** Calculate the sum of the series $\displaystyle \frac{1}{2!} + \frac{2}{3!} + \frac{3}{4!} + \dots + \frac{n}{(n+1)!}$ for $n = 5$.

In [55]:
def special_series_sum(n):
    total_sum = 0
    for i in range(1, n + 1):
        total_sum += i / factorial(i + 1)
    return total_sum

print(f"Sum of the series for n=5: {special_series_sum(5)}")

Sum of the series for n=5: 0.998611111111111

# 5. Binomial Coefficient (n choose r)

### 5.1 Binomial Coefficient (5 choose 2)
**Objective:** Write a function to calculate the binomial coefficient (n choose r) and use it to calculate (5 choose 2).

In [109]:
def binomial_coefficient(n, r):
    return factorial(n) / (factorial(r) * factorial(n - r))

print(f"(5 choose 2): {binomial_coefficient(5, 2)}")

(5 choose 2): 10.0

### 5.2 Binomial Coefficient (7 choose 3)
**Objective:** Calculate (7 choose 3) using the binomial coefficient function.

In [64]:
print(f"(7 choose 3): {binomial_coefficient(7, 3)}")

(7 choose 3): 35

### 5.3 Binomial Coefficient (10 choose 5)
**Objective:** Calculate (10 choose 5) using the binomial coefficient function.

In [67]:
print(f"(10 choose 5): {binomial_coefficient(10, 5)}")

(10 choose 5): 252

# 6. Combinations

### 6.1 Combinations of 3 from a Set of 5
**Objective:** Calculate all combinations of 3 elements from a set of 5 elements.

In [107]:
def combinations_count(n, r):
    return factorial(n) / (factorial(r) * factorial(n - r))

print(f"Combinations of 3 from 5: {combinations_count(5, 3)}")

Combinations of 3 from 5: 10.0

### 6.2 Combinations of 3 from a Set of 7
**Objective:** Calculate the number of combinations of 3 elements from a set of 7 elements without using libraries.

In [75]:
print(f"Combinations of 3 from 7: {combinations_count(7, 3)}")

Combinations of 3 from 7: 35

### 6.3 Poker Hand Combinations
**Objective:** Calculate the number of possible 5-card hands from a standard 52-card deck in poker.

In [88]:
print(f"Possible 5-card hands in poker: {combinations_count(52, 5)}")

Possible 5-card hands in poker: 2598960

### 6.4 Chessboard Square Combinations
**Objective:** Calculate the number of ways to choose 2 squares from a chessboard such that they are of the same color.

In [80]:
# There are 32 squares of each color on a chessboard
same_color_combinations = combinations_count(32, 2)
print(f"Ways to choose 2 squares of the same color: {same_color_combinations}")

Ways to choose 2 squares of the same color: 496

# 7. Closed Form Formulas

### 7.1 Sum of First n Natural Numbers
**Objective:** Calculate the sum of the first $n$ natural numbers using the closed-form formula $\displaystyle \frac{n(n + 1)}{2}$.

In [105]:
def sum_of_natural_numbers(n):
    return n * (n + 1) / 2

print(f"Sum of the first 10 natural numbers: {sum_of_natural_numbers(10)}")

Sum of the first 10 natural numbers: 55.0

### 7.2 Sum of First n Squares
**Objective:** Calculate the sum of the squares of the first $n$ natural numbers using the closed-form formula $\displaystyle \frac{n(n + 1)(2n + 1)}{6}$.

In [103]:
def sum_of_squares(n):
    return n * (n + 1) * (2 * n + 1) / 6

print(f"Sum of the squares of the first 5 natural numbers: {sum_of_squares(5)}")

Sum of the squares of the first 5 natural numbers: 55.0

### 7.3 Arithmetic Series Sum
**Objective:** Calculate the sum of the first $n$ terms of an arithmetic series with a common difference $d$, starting from $a$. Formula: $\displaystyle \frac{n}{2} \cdot (2a + (n - 1)d)$.

In [113]:
def arithmetic_series_sum(a, d, n):
    return n * (2 * a + (n - 1) * d) // 2

print(f"Sum of the first 6 terms of an arithmetic series starting from 2 with a common difference of 3: {arithmetic_series_sum(2, 3, 6)}")

Sum of the first 6 terms of an arithmetic series starting from 2 with a common difference of 3: 57

### 7.4 Geometric Series Sum
**Objective:** Calculate the sum of the first $n$ terms of a geometric series with a common ratio $r$, starting from $a$. Formula: $\displaystyle a \cdot \frac{1 - r^n}{1 - r}$.

In [119]:
def geometric_series_sum(a, r, n):
    return a * (1 - r ** n) // (1 - r)

print(f"Sum of the first 5 terms of a geometric series starting from 1 with a common ratio of 2: {geometric_series_sum(1, 2, 5)}")

Sum of the first 5 terms of a geometric series starting from 1 with a common ratio of 2: 31

# 8. Sum of Geometric Sequences

### 8.1 Sum of a Finite Geometric Sequence
**Objective:** Calculate the sum of the first 5 terms of a geometric sequence with the first term $a = 3$ and common ratio $r = 2$.  
Expanded Form: $3 + 6 + 12 + 24 + 48$  
Summation Form: $\displaystyle \sum_{k=0}^{4} 3 \cdot 2^k$

In [125]:
def geometric_sequence_sum(a, r, n):
    return a * (1 - r ** n) // (1 - r)

print(f"Sum of the first 5 terms: {geometric_sequence_sum(3, 2, 5)}")

Sum of the first 5 terms: 93

### 8.2 Sum of an Infinite Geometric Series
**Objective:** Calculate the sum of an infinite geometric series with the first term $a = 4$ and common ratio $r = 0.5$.  
Expanded Form: $4 + 2 + 1 + 0.5 + 0.25 + \dots$  
Summation Form: $\displaystyle \sum_{k=0}^{\infty} 4 \cdot 0.5^k$

In [128]:
def infinite_geometric_series_sum(a, r):
    return a / (1 - r)

print(f"Sum of the infinite series: {infinite_geometric_series_sum(4, 0.5)}")

Sum of the infinite series: 8.0

### 8.3 Sum of a Finite Geometric Sequence (Fractional Ratio)
**Objective:** Calculate the sum of the first 7 terms of a geometric sequence with the first term $a = 1$ and common ratio $\displaystyle r = \frac{1}{3}$.  
Expanded Form: $\displaystyle1 + \frac{1}{3} + \frac{1}{9} + \frac{1}{27} + \frac{1}{81} + \frac{1}{243} + \frac{1}{729}$  
Summation Form: $\displaystyle \sum_{k=0}^{6} 1 \cdot \left(\frac{1}{3}\right)^k$

In [138]:
print(f"Sum of the first 7 terms: {geometric_sequence_sum(1, 1/3, 7)}")

Sum of the first 7 terms: 1.0

# 9. Defining Sequences Recursively

### 9.1 Fibonacci Sequence
**Objective:** Write a function to generate the first 10 terms of the Fibonacci sequence using recursion.  
Recurrence Relation: $F_n = F_{n-1} + F_{n-2}$ with $F_0 = 0$ and $F_1 = 1$.

In [144]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

fibonacci_sequence = [fibonacci(i) for i in range(10)]
print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 9.2 Arithmetic Sequence
**Objective:** Define an arithmetic sequence recursively and calculate the 5th term.  
Recurrence Relation: $a_n = a_{n-1} + d$ with $a_1 = 3$ and common difference $d = 2$.

In [1]:
def arithmetic_sequence(n, d=2, a1=3):
    if n == 1:
        return a1
    else:
        return arithmetic_sequence(n-1, d) + d

print(f"The 5th term of the sequence: {arithmetic_sequence(10)}")

The 5th term of the sequence: 21

### 9.3 Geometric Sequence
**Objective:** Define a geometric sequence recursively and calculate the 4th term.  
Recurrence Relation: $g_n = g_{n-1} \cdot r$ with $g_1 = 4$ and common ratio $r = 3$.

In [1]:
def geometric_sequence(n, r=3, g1=4):
    if n == 1:
        return g1
    else:
        return geometric_sequence(n-1, r) * r

print(f"The 4th term of the sequence: {geometric_sequence(5)}")

The 4th term of the sequence: 324

# 10. Implement in Python code your bonus question 1 from Homework 3

In [1]:
def bonus_question():
    # Statement (a)
    loop_contains_stop_or_goto = False  # Assuming this is a condition you can check
    N = 10  # Example value for N

    if not loop_contains_stop_or_goto:
        print(f"This loop will repeat exactly {N} times.")

    # Statement (b)
    freeze = False  # Example condition
    if not freeze:
        print("Freeze or I'll shoot.")

    # Statement (c)
    ceiling_fixed = False  # Example condition
    if ceiling_fixed:
        print("I will pay my rent.")
    else:
        print("Fix my ceiling or I won't pay my rent.")

# Calling the function to execute the statements
bonus_question()

This loop will repeat exactly 10 times.
Freeze or I'll shoot.
Fix my ceiling or I won't pay my rent.